
<h1>SafeAuto Driver Reporting</h1>
<p>Click the 'Upload File' button and select a file to upload</p>
<div>
  <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
</div>
<h2 id="tableLabel">Drivers</h2>

<p *ngIf="!drivers"><em>Uploaded drivers will show here</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="drivers">
  <thead>
    <tr>
      <th>Name</th>
      <th>Total Miles</th>
      <th>Average MPH</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let driver of drivers">
      <td>{{ driver.name }}</td>
      <td>{{ driver.miles }}</td>
      <td>{{ driver.mph }}</td>
    </tr>
  </tbody>
</table>
